<!--muestro todo si *ngIf="project" si hay algo-->
<div class="container" *ngIf="project">
    <!--muestro la imagen *ngIf="project.image" si hay algo-->
    <div class="image" *ngIf="project.image">
        <!--url la url del backend con su metodo y el parametro de la imagen-->
        <img src="{{url+'get-image/'+project.image}}" />
    </div>
    <div class="data">
        <h1>{{project.name}}</h1>
        <h3>{{project.description}}</h3>
        <p>{{project.category}}</p>
        <p>{{project.langs}}</p>
        <!--si es false paso por aca y la propiedad confirm viene de detail.component.ts-->
        <p *ngIf="confirm == false">
            <!--un boton [routerLink] directiva de atributo q nos da el router las rutas y ['/editar-proyecto'] nos dice la ruta q va a ir project._id y lleva un id de parametro la ruta-->
            <a [routerLink]="['/editar-proyecto', project._id]" class="button-edit">Editar</a>
            <!--(click) el evento click y llama a este metodo setConfirm(true) -->
            <a (click)="setConfirm(true)" class="button-delete">Borrar</a>
        </p>

        <!--si es true paso por aca-->
        <p *ngIf="confirm == true">
            <span class="confirm">¿Estas seguro de eliminar este proyecto?</span>
            <!--(click) el evento click y llama a este metodo setConfirm(false) -->
            <a (click)="setConfirm(false)" class="button-edit">Cancelar</a>
            <!--(click) el evento click y llama a este metodo deleteProject(project._id) -->
            <a (click)="deleteProject(project._id)" class="button-delete">Eliminar definitivamente</a>
        </p>
    </div>
</div>