{% extends "AppBundle:Layouts:layouts.html.twig" %} {#heredo esta vista con sus blokes#}



{% block content %}

<div class="col-lg-8 box-form">
<h2>Mis datos</h2>
<hr/>

{{ form_start(form, {'enctype':'multipart/form-data'}) }}{#imprimo el formulario y le paso la variable form q es la q llega del controlador#}
    
  
    {{ form_end(form) }} {#cierro el formulario#}


</div>


{% endblock %}