<header>
    <ul>
        <!--routerLinkActive es la que nos permite aplicar una clase dinámicamente, dependiendo de si un enlace determinado tiene su ruta activa.-->
        <li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">Sobre mi</a></li>
        <li><a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Proyectos</a></li>
        <li id="logo"><a href="#">VR</a></li>
        <li><a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']">Crear proyectos</a></li>
        <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a></li>

    </ul>
</header>


<section id="content">
    <!--esto me da la magia para q funcionen las rutas-->
    <router-outlet></router-outlet>
</section>

<footer>
    Master en JavaScript de victorroblesweb.es &copy;
</footer>