<div class="container">

    <h1>contacto</h1>

    <!--id="texto" forma clasica #textos forma de reconocer el div y seleccionarlo en ANGULAR-->
    <div id="texto" #textos>
        <!--appResaltado esta es una directiva creada por mi desde la consola q esta aca app/resaltado.directive.ts-->
        <p appResaltado>
            Esta es la pagina de contacto, puedes enviarnos cualquier duda
        </p>
    </div>


    <br><br>


    <!--se uso para un ejemplo de pasarle informacion de componente padre a hijo-->
    Tamaño del slider:
    <!--[(ngModel)] directiva para q los cambios se vean instantaneamente
  widthSlider la propiedad q viene del contact.component.ts lo q se va a utilizar para modificar-->



    <input type="number" [(ngModel)]="widthSlider" />
    <!--<div *ngIf="widthSlider">-->
    <!-- <slider></slider> etiqeta del componente para llamar desde cualquier vista
      [anchura] este es un atributo le puedo poner cualquier nombre va servir para pasarle al componente hijo (slider.component.ts)
  algun valor del padre
(conseguirAutor) este es un evento  va servir para pasarle este metodo getAutor($event)
q se construyo en slider.component.ts-->
    <br>
    <slider [anchura]="widthSlider" (conseguirAutor)="getAutor($event)"></slider>

    <!--{{autor.nombre + " " + autor.website}}-->


    <!--</div>-->
</div>