<div class="container">
    <h2>Projectos</h2>

    <ul>
        <!--se hace un for donde los projects se van metiendo en project-->
        <li *ngFor="let project of projects" class="project">
            <!--[routerLink] directiva de atributo q nos da el router las rutas y ['/proyecto'] nos dice la ruta q va a ir project._id y lleva un id de parametro la ruta-->
            <a [routerLink]="['/proyecto', project._id]">
                <div class="image">
                    <!-- *ngIf="project.image" si esto es true o ea si hay imagen-->
                    <img src="{{url+'get-image/'+project.image}}" *ngIf="project.image" />
                </div>
                <h3>{{project.name}}</h3>
                <p>{{project.category}}</p>

            </a>
        </li>
    </ul>
</div>